{% extends "header.html" %}
{% block body %}
<div class="container">

  <br></br>

  <div class="row bg-secondary">
    {% for message in get_flashed_messages() %}
      <div class="flash col-8 mx-auto w-100">{{ message }}</div>
    {% endfor %}
  </div>

  <br></br>

  <div class="row bg-primary">

    <h1 class="col-8 mx-auto w-100">Download CSV</h1>


    <!-- Template download -->
    <a  class="col-6 mx-auto w-100 btn btn-warning" href="{{ url_for('data.export_template_file') }}">Get CSV file template</a>
    
    <!-- Download dataset -->
    <a  class="col-6 mx-auto w-100 btn btn-warning" href="{{ url_for('data.export_file') }}">Download breast cancer dataset</a>

    <!-- Dataset missing data note -->
    <p class="col-8 mx-auto w-100">Missing/incorrect values will be replaced wtih a decimal of '-1.0' when uploaded.</p>


  </div>
  <br></br>
  <div class="row bg-primary">

    <h1 class="col-8 mx-auto w-100">Upload New Dataset</h1>

    <form class="col-12" method="post" action="{{ url_for('data.data_upload') }}" enctype = "multipart/form-data">

      <!-- Textarea -->
      <div class="form-group col-8 mx-auto w-100">
        <input type="file" name="file" accept=".csv" required>
      </div>

      <!-- Textarea -->
      <div class="form-group col-8 mx-auto w-100">
        <label class="control-label" for="inputNotes">Why Are You Adding to the Dataset?</label>
        <textarea class="form-control" name="inputNotes"  maxlength="500" required></textarea>
      </div>

      <!-- Button -->
      <div class="form-group col-8 mx-auto w-100">
        <button type="submit" class="btn btn-default">Upload</button>
      </div>

    </form> 


  </div>
  <br></br>
  <div class="row bg-primary">


    <table class="table table-sm table-striped table-bordered">
      <thead>
        <tr>
          <th>Clinician</th>
          <th>Time Uploaded</th> 
          <th>Notes</th>
        </tr>
      </thead>
      
      <tbody>
        {% for item in notes_data %}
        <tr>
          <td>{{item[1]}}</td>
          <td>{{item[2]}}</td>
          <td>{{item[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</div>
{% endblock %}