{% extends "header.html" %}
{% block body %}
<div class="login-container">
  <form method="post" class="form-flex">
    <div>
      LOGIN
    </div>       
    <div class="user-item">
      <label for="username">Username: </label>
      <input type="text" name="username" value="{{ request.form['username'] }}" />
    </div>
    <div class="pass-item">
      <label for="password">Password: </label>
      <input type="password" name="password" value="{{ request.form['password'] }}" />
    </div>  
    
    <button name="submit" type="submit">Login</button>
    {% if error %}
    <p class="error"><strong>Error: </strong>{{error}}</p>
    {% endif %}
  </form>

</div>
{% endblock %}