{% extends "header.html" %}
{% block body %}


<div class="profile-con">
  <div class="container inner-con">
    <div class="row justify-content-center search-div">
      <form action="{{ url_for( 'search.searchpage' )}}" method="post">
        <input type="text" id="patient_search" name="patient" placeholder="Search for patients..." value="{{ request.form['patient'] }}" />
        <button type="submit">Search</button>
      </form>
    </div>
    <div class="row">
      <div class="profile-info row col">
        <img src="https://via.placeholder.com/200" alt="Test" class="img-thumbnail col">
        {% if patient %}
          <div class="patient-info-div col">
            First Name: {{ patient[1] }} </br>
            Last Name: {{ patient[2] }}</br>
            Age: {{ patient[3] }}</br>
            Gender: {{ patient[4] }}</br>
            Occupation: {{ patient[5] }}</br> 
          </div>
        {% else %}
          <div class="patient-info-div col">
          </div>
        {% endif %}
      </div>
      <div class="button-list-con d-flex justify-content-center col">
        <ul class="button-list">
          <li class="button-list-item"><a href="{{ url_for( 'search.searchpage' )}}"><button type="button">Predict</button></a></li> 
        </ul>
      </div>
    </div>
  </div>
</div>
<script async>
  var names = [    
    {% for patient in patients %}
      "{{ patient[1:3]|join(" ") }}",
    {% endfor %}
  ];
  var input = document.getElementById("patient_search");
  new Awesomplete(input, {
    list: names
  });
  input.classList.add("col-12")
</script>
{% endblock %}