body {
  background: url("../static/images/BG1.png");
  /* background: #5AB5D2; */
 }

 
 .login-container{  
   display: flex;
   align-items: center;
   justify-content: center;
   height: 90vh;
   flex-direction: column;
   color: #E2E2E2;
 }
 
 .form-flex{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   width: 400px;
   height: 300px;
   background-color: #008CBA;
   
   padding-top: 20px;
   padding-bottom: 20px;
 }
 

.profile-con{  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45vh;  
}

.inner-con {
  background-color: #008CBA;
  padding: 15px 0px 15px 45px;
}

.patient-info-div {
  color: white;
}

.search-div {
  padding-bottom: 15px;  
}

.button-list {
  list-style-type: none;
}

.button-list-item {
  padding-bottom: 10px;
}

