{% extends "header.html" %}
{% block body %}
<div class="container">
  <div>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
  </div>

  <div>
    <h1>Download CSV</h1>


    <!-- Template download -->
    <a href="{{ url_for('export_template_file') }}" class="btn btn-warning">Get CSV file template</a>
    
    <!-- Download dataset -->
    <a href="{{ url_for('export_file') }}" class="btn btn-warning">Download breast cancer dataset</a>

    <!-- Dataset missing data note -->
    <p>Missing/incorrect values were replaced wtih a decimal of '-1.0'.</p>


    <fieldset>

    <h1>Form Required for Update Notes when Uploading New Dataset</h1>
    <form class="form-horizontal" method="post" action="{{ url_for('data_upload') }}" enctype = "multipart/form-data">

      <!-- Textarea -->
      <div class="form-group">
        <div class="col-md-4">                     
          <input type = "file" name = "file" accept=".csv" required>
        </div>
      </div>

      <!-- Form Name -->
      <legend>Why Are You Adding to the Dataset?</legend>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="inputNotes">Note</label>
        <div class="col-md-4">                     
          <textarea class="form-control" name="inputNotes"  maxlength="500" required></textarea>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-4">
          <button type="submit" class="btn btn-default">Upload</button>
        </div>
      </div>

    </form> 


    </fieldset>

    <table>
      <tr>
        <th>Clinician</th>
        <th>Time Uploaded</th> 
        <th>Notes</th>
      </tr>
      
      {% for item in notes_data %}
      <tr>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
      </tr>
      {% endfor %}
    </table>

  </div>
</div>
{% endblock %}