<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1" name=viewport>
	<title>CDS Breast Cancer</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
	<link href="https://bootswatch.com/4/yeti/bootstrap.min.css" rel="stylesheet">
	<link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
</head>
<body>
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="main.html">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">   
      </div>

    </nav>

  </header>



  {% block body %}
  
  {% endblock %}
</body>
</html>

