{% extends "header.html" %}
{% block body %}
<div class="login-container">
  <form action="post" class="form-flex">
    <div>
      LOGIN
    </div>       
    <div class="user-item">
      <label for="username">Username: </label>
      <input type="text" name="username" value="" />
    </div>
    <div class="pass-item">
      <label for="password">Password: </label>
      <input type="password" name="password" value="" />
    </div>  
    
    <button name="submit" type="submit">Login</button>
    <div>
      <a href="#/">or signup</a>
    </div>
  </form>
</div>
{% endblock %}