{% extends "header.html" %}
{% block body %}
<div class="profile-con">
  <div class="container inner-con">
    <div class="row justify-content-center search-div">
      <input class="col-4 " type="text" placeholder="Search for patients...">
    </div>
    <div class="row">
      <div class="profile-info row col">
        <img src="https://via.placeholder.com/200" alt="Test" class="img-thumbnail col">
        <div class="patient-info-div col">
          {% for attribute, value in patients['1'].items()  %}
            {{ attribute }}: {{ value }}<br />
          {% endfor%}
        </div>
        <!-- <div >
          Paitient #: 123456789
          Name: ABC 123
        </div> -->
        
      </div>
      <div class="button-list-con d-flex justify-content-center col">
        <ul class="button-list">
          <li class="button-list-item"><a href="{{ url_for( 'predictpage' )}}"><button type="button">Predict</button></a></li>
          <!-- <li class="button-list-item"><button type="button">Help1</button></li>
          <li class="button-list-item"><button type="button">Help2</button></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}