{% extends "header.html" %}
{% block body %}
<div class="container">
  <div>

    <h3>Other stuff</h3>
    <img src="{{ url_for('get_trained_model_image') }}"> <!-- height="42" width="42"> -->

    {% for fi in feature_importances %}
      <p>fi</p>
    {% endfor %}

    <h1>Results</h1>
    
    <table>
      <tr>
        <th>Radius mean</th>
        <th>Texture mean</th> 
        <th>Perimeter mean</th>
        <th>Area mean</th>
        <th>Time Uploaded</th> 
        <th>Smoothness mean</th>
        <th>Compactness mean</th>
        <th>Concave points mean</th> 
        <th>Symmetry mean</th>
        <th>Fractal dimension mean</th>

        <th>Cancer Prediction</th> 

        <th>Malignant</th>
        <th>Benign</th>
      </tr>
      
      {% for prediction_results in pred_results %}
      {% for prediction_probailities in prob_pred_results %}
      {% for prediction_inputs in pred_inputs %}
      <tr>
        <td>{{prediction_results[1]}}</td>

        <td>{{prediction_probailities[1]}}</td>
        <td>{{prediction_probailities[2]}}</td>

        <td>{{prediction_inputs[1]}}</td>
        <td>{{prediction_inputs[2]}}</td>
        <td>{{prediction_inputs[3]}}</td>
        <td>{{prediction_inputs[4]}}</td>
        <td>{{prediction_inputs[5]}}</td>
        <td>{{prediction_inputs[6]}}</td>
        <td>{{prediction_inputs[7]}}</td>
        <td>{{prediction_inputs[8]}}</td>
        <td>{{prediction_inputs[9]}}</td>
        <td>{{prediction_inputs[10]}}</td>
      </tr>
      {% endfor %}
      {% endfor %}
      {% endfor %}

    </table>


  </div>
</div>
{% endblock %}